{% extends 'base.html' %} {% block body %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <img src="/static/Screenshot (34).png" style="box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap">
<!--                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                                <div class="card-body">
                                    <div class="text-center mt-4">
                                        <a href="https://demo.cocobasic.com/volos-wp/demo-1/#resume" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        <a href="/selected_theme/temp1" class="btn btn-primary w-100">Select</a>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <img src="/static/Screenshot (36).png" style="box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap">
<!--                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                                <div class="card-body">
                                    <div class="text-center mt-4">
                                        <a href="https://demo.cocobasic.com/volos-wp/demo-2/#resume" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        <a href="/selected_theme/temp2" class="btn btn-primary w-100">Select</a>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div>
                </div>
            </div>

            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Code scatter.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Code scatter
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->


{% endblock %}